<!--?xml version="1.0" encoding="UTF-8"?--><html><head><title>WECHAT_EMPTY_TITLE</title><style id="__WXWORK_INNER_SCROLLBAR_CSS">::-webkit-scrollbar { width: 12px !important; height: 12px !important; }::-webkit-scrollbar-track:vertical {  }::-webkit-scrollbar-thumb:vertical { background-color: rgba(136, 141, 152, 0.5) !important; border-radius: 10px !important; background-clip: content-box !important; border:2px solid transparent !important; } ::-webkit-scrollbar-track:horizontal {  }::-webkit-scrollbar-thumb:horizontal { background-color: rgba(136, 141, 152, 0.5) !important; border-radius: 10px !important; background-clip: content-box !important; border:2px solid transparent !important; } ::-webkit-resizer { display: none !important; }</style></head><body><plist version="1.0">
  <dict>
      <key>items</key>
      <array>
        <dict>
           <key>assets</key>
           <array>
             <dict>
               <key>kind</key>
               <string>software-package</string>
               <key>url</key>
               <string><!--[CDATA[https://down.dierna.com/o_1ej26ijqk19sk16lg1go015esn9aa.ipa?attname=%E9%92%93%E9%B1%BC%E5%8F%91%E7%83%A7%E5%8F%8B_60000%EF%BC%88%E6%AD%A3%E7%89%88%EF%BC%89.ipa&sign=c8763898d6b3e45b209a2fcd7a0263dc&t=5f796db4]]--></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>display-image</string>
               <key>needs-shine</key>
               <integer>0</integer>
               <key>url</key>
               <string><!--[CDATA[https://static.dibaqu.com/icon/ce/de/cedef56e033e44bd6818ec56cc7cf43e.png]]--></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>full-size-image</string>
               <key>needs-shine</key>
               <true>
               <key>url</key>
               <string><!--[CDATA[https://static.dibaqu.com/icon/ce/de/cedef56e033e44bd6818ec56cc7cf43e.png]]--></string>
             </true></dict>
           </array>
           <key>metadata</key>
           <dict>
             <key>bundle-identifier</key>
             <string>com.com2us.acefishing.normal.freefull.apple.global.ios.universal</string>
             <key>bundle-version</key>
             <string><!--[CDATA[60000]]--></string>
             <key>kind</key>
             <string>software</string>
             <key>title</key>
             <string><!--[CDATA[Ace Fishing]]--></string>
           </dict>
        </dict>
      </array>
  </dict>
</plist></body></html>